{%extends 'base.html'%}
{%block content%}
{{block.super}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img src="{{photo.image.url}}" alt="image" height="300px;" width="300px;">
    <h1>{{photo.image_caption}}</h1>

    <div class="row">
        <p>Posted {{photo.pub_date|timesince}}ago by {{photo.editor}}</p>
    </div>
</body>
</html>
{%endblock%}